<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTabs">
    <div class="liner"></div>
    <!--circular user icon-->
    <li>
      <a routerLink="/personal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" data-toggle="tab"
         title="personal" class="z"><span class="btn circle-tabs">Assesment</span></a>
    </li>
    <!--circular tasks icon-->
    <li><a routerlink="/work" routerLinkActive="active" data-toggle="tab" title="work"class="z"><span class="btn circle-tabs">Architecture <br>& planning</span></a>
    </li>
    <!--circular home icon-->
    <li>
      <a routerLink="/address" routerLinkActive="active" data-toggle="tab" title="address" class="z"><span class="btn circle-tabs">Execution</span>
      </a>
    </li>
    <li>
      <!--circular ok icon-->
      <a routerLink="/result" routerLinkActive="active" data-toggle="tab" title="completed">
        <span class="round-tabs four">
          <i class="glyphicon glyphicon-ok"></i>
        </span>
      </a>
    </li>

  </ul>
  <div class="clearfix"></div>
</div>

<!--splash screen-->
<script src="assets/js/loading-bars.js"></script>
