<div class="vliner"></div>
<div class="board-inner board-vertical" id="status-buttons">
  <ul class="sidebar-nav list-none" id="sidebar">
    <!--circular user icon-->
    <li class="padding-1em">
      <a routerLink="/discovery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" data-toggle="tab"
         title="discovery" class="z"><span class="btn circle-tabs">Discovery</span></a>
    </li>
    <!--circular tasks icon-->
    <li class="padding-1em"><a routerlink="/gap" routerLinkActive="active" data-toggle="tab" title="gap" class="z"><span class="btn circle-tabs">GAP</span></a>
    </li>
    <!--circular home icon-->
    <li class="padding-1em">
      <a routerLink="/cost" routerLinkActive="active" data-toggle="tab" title="cost" class="z"><span class="btn circle-tabs padi">Cost <br>Benefit <br>Analysis</span></a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>

<!--splash screen-->
<script src="assets/js/loading-bars.js"></script>
