.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs.one {
    background: rgb(34, 194, 34);
    color: #fff
}

#status-buttons a.active span.round-tabs.two {
    background: #febe29;
    color: #fff
}

#status-buttons a.active span.round-tabs.three {
    background: #3e5e9a;
    color: #fff
}

#status-buttons a.active span.round-tabs.four {
    background: #f1685e;
    color: #fff
}


.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}
.circle-tabs {
  border: 2px solid green;
  padding: 37px 2px;
  width: 5.5em;
  height: 5.5em;
  color: black;
  font-size: 1.5em;
  background: white;
  border-radius: 50%;
  position: relative;
  right: 10px;
  top: -30px;
}
.z{
  z-index: 9999;
}
.nav-tabs > li a{
  z-index: 999;
}

.list-none {
  list-style: none;
}
.vliner{
  border-left: 2px solid #DDDDDD;
  height: 377px;
  position: relative;
  left: -3em;
  bottom: 1.5em;
}
.padding-1em{
  padding: 1em 0em;
}
.board-vertical{
  position: absolute;
  bottom: -3em;
  left: 0em;
}
.padi{
  padding: 0.5em 0.5em;
}
